.hero{
    width: 100%;
    height: 500px;
    background-image: url('../images/bridcumb-fotor-20230822185136.jpg');
    background-color: black;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    gap: 1em;
}
.hero p:nth-child(1){
    font-size: 3.75em;
    font-weight: 600;
    font-family: 'Gilda Display';
}
.hero p:nth-child(2){
    font-size: 1em;
    text-transform: uppercase;
    font-family: 'Barlow';
    font-weight: 500;
    display: flex;
    gap: 0.5em;
}
.hero p:nth-child(2) a, .hero p:nth-child(2) span{
    color: white;
    font-family: 'Barlow';
}

@media(max-width: 1050px){
    .hero{
        font-size: 14px;
    }
}
@media(max-width: 900px){
    .hero{
        font-size: 13px;
    }
}
@media(max-width: 400px){
    .hero{
        font-size: 11px;
    }
}
